.form-field-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
  
.mat-form-field {
    width: 70px;
    padding-bottom: unset;
}

.mat-form-field-right {
    margin-right: 16px;
}

::ng-deep .mat-form-field-wrapper {
    padding: 0;
}

input {
    width: 100%;
    font-size: 30px;
    text-align: center; 
}

.form {
    display: flex;
}

.custom-button {
    height: 100%;
    border: 1px solid green;
    background-color: green;
    color: white;
    margin-left: 20px;
    align-self: center;
}